/output*
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc

.github
.gitlab

dl/br-flutter-pub-cache
dl/flutter-engine
dl/flutter-pi
dl/flutter-sdk-bin