image efi-part.vfat {
	vfat {
		file Image {
			image = "Image"
		}

		file boot.scr {
            image = "boot.scr"
        }
	}

	size = 64M
}

image disk.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition boot {
		image = "efi-part.vfat"
		partition-type-uuid = U
		offset = 32K
		bootable = true
	}

    # partition uboot-env {
    #     in-partition-table = "false" # 重要：不写入 GPT 分区表，仅物理占位
    #     offset = 65M
    #     size = 256K
    #     image = "uboot-env.bin"
    # }

	partition rootA {
		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
		image = "rootfs.ext2"
		size = 256M
		# offset = 130M
	}

	partition rootB {
		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
		image = "rootfs.ext2"
		size = 256M
	}
}
